<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.servlet.HelloServlet</servlet-class>
        <!-- 配置Servlet初始化参数 -->
        <init-param>
            <param-name>url</param-name>
            <param-value>http://127.0.0.1</param-value>
        </init-param>
    </servlet>

    <!--
        一个 servlet 标签可以对应多个 servlet-mapping 标签
        一个 servlet-name 可以配置多个 url-pattern
    -->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello_servlet</url-pattern>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
</web-app>